.hidden {
    display: none;
}

.navbar {
    background-color: red;
    color: black;
    font-weight: bolder;
    font-size:larger;
    display: flex;
    align-items: center;
    padding: 4px;
    position: fixed;
    top: 0;
    width: 100%;
}


/* 
header, nav {
    background-color: red;
    color: black;
    font-weight: bolder;
    font-size:larger;
    display: flex;
    align-items: center;
    padding: 4px;
    position: fixed;
    top: 0;
    width: 100%;
} */
/* 
.navbar {
    background-color: yellow;
    color: pink;
    display: flex;
    align-items: center;
    padding: 4px;
    position: fixed;
    top: 0;
    width: 100%;
} */


nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }

.nav-links {
    margin-left: auto;
}

.homeLink {
    color: white;
}


.navbar-custom {
    background-color: red;  
}  
  
.navbar-custom .navbar-brand,  
.navbar-custom .navbar-text {  
    color: black;  
}  

.aboutLink {
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* The ul styling is so there is no accidentally added styling. */



/* Some search bar styling */


.navbar + .search-bar-container {
    margin-top: 60px; /* Adjust the margin-top value as needed */
  }

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* Adjust the margin-top value as needed */
  }
  
.search-bar {
    width: 400px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
  }