

nav {
    background-color: red;
    color: black;
    font-weight: bolder;
    font-size:larger;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }

.nav-links {
    margin-left: auto;
}

.homeLink {
    color: white;
}


.aboutLink {
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* The ul styling is so there is no accidentally added styling. */

