.comment-btn {
    background-color: transparent;
    border: none;
}
.comment-btn:hover {
    background-color: gray;
    padding: 2px;
}
.comment-btn:focus{
    background-color: rgb(117, 178, 209) ;
    color: black;

}
.delete, 
.edit {
    margin-right: 10px;

}
.delete:focus,
.delete:hover {
    border: none;
}

.edit {
    border: none;
}
